:root {
    --grisoscuro: #424141;
    --azulclaro: #3D77B0;
    --rojo2: #E94650;
    --rojo: #C63B3B;
    --blanco: #fff;
    --negro: #1a2537;
    --rojooscuro: #aaa;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(/img/imagen1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    margin-top: 100px !important;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background: cadetblue;
    }

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

    .link:hover {
        color: cadetblue;
    }

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.form-check-label {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    padding: 0 !important;
    margin: 3px 0;
    color: var(--grisoscuro);
}

