:root {
    --azuloscuro: #446389;
    --azulclaro: #3D77B0;
    --grisoscuro: #424141;
    --grismedio: #9e9e9e;
    --grisclaro: #e0e0e0;
    --rojo: #C63B3B;
    --blanco: #fff;
    --negro: #000;
    --verde: #2DBC9A;
    --rosado: #344544;
    --celeste: #ECF1F7;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.obligatorio-rojo {
    color: var(--rojo2) !important;
    display: none;
}

span.obligatorio, span.obligatorio-rojo {
    font-weight: 400;
    font-size: 12px;
    color: var(--grisoscuro);
    letter-spacing: 0.25px;
    line-height: 20px;
}

.input-rojo input:active {
    box-shadow: none !important;
    color: red !important;
}

.input-rojo, .dropdown select.input-rojo {
    border: 2px solid var(--rojo2) !important;
    border-radius: 2px;
}

.input-rojo button.dropdown-toggle {
    border: none !important;
    border-radius: 2px;
}

.alert {
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    position: fixed;
    width: 450px;
    height: 56px;
    left: 25px;
    bottom: 10px;
    font-size: 14px;
    border-radius: 4px;
    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 10000;
    color: var(--blanco);
}

.alert-azul {
    background: var(--azulclaro);
}

.alert-rojo {
    background: var(--rojo);
    bottom: 90px;
}

.fade {
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.libre, .anchoCompleto {
    width: 100%;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select, .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-radius: 2px;
}

.contenido {
    margin-top: 42px;
    padding: 0 50px 50px 50px;
}

.contenido2 {
    padding: 0 50px;
    margin-bottom: 40px;
}

.row {
    padding-top: 10px;
}

.form-outline .label-enfocado:focus {
    box-shadow: 1px solid var(--azulclaro) !important;
    background-color: var(--negro);
}

.form-outline {
    border: 1px solid var(--grisclaro);
    border-radius: 2px;
}

.form-label {
    background-color: var(--blanco);
}

.form-outline .form-helper {
    width: 100%;
    position: absolute;
    font-size: .875em;
    color: #757575
}

    .form-outline .form-helper .form-counter {
        text-align: right
    }

.form-outline .trailing {
    position: absolute;
    right: 10px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none
}

.form-outline .form-icon-trailing {
    padding-right: 2rem !important
}

.form-outline .form-control {
    min-height: auto;
    padding: .47em .75em;
    border: 0;
    background: transparent;
    transition: all .2s linear
}

    .form-outline .form-control ~ .form-label {
        position: absolute;
        top: 9px;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        left: .75rem;
        padding-top: .37rem;
        pointer-events: none;
        transform-origin: 0 0;
        transition: all .2s ease-out;
        color: rgba(0,0,0,.6);
        margin-bottom: 0
    }

.form-notch-trailing {
    width: 1px;
}

.form-outline .form-control:not(.placeholder-active)::-moz-placeholder {
    opacity: 0
}

.form-outline .form-control:not(.placeholder-active)::placeholder {
    opacity: 0
}

.form-outline .form-control.active::-moz-placeholder, .form-outline .form-control:focus::-moz-placeholder {
    opacity: 1
}

.form-outline .form-control.active::placeholder, .form-outline .form-control:focus::placeholder {
    opacity: 1
}

.form-outline .form-control.active ~ .form-label, .form-outline .form-control:focus ~ .form-label {
    transform: translateY(-1.5rem) translateY(.1rem) scale(.8)
}

.form-outline .form-control:focus ~ .form-label {
    color: #1266f1
}

.form-outline .label-enfocado:focus {
    box-shadow: 1px solid var(--azulclaro) !important;
    background-color: var(--negro);
}

.form-outline {
    border: 1px solid var(--grisclaro);
    border-radius: 2px;
}

.form-control:disabled {
    color: var(--grismedio) !important;
}

input .form-control:focus {
    border: 1px solid green;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25) !important;
}

.filtrar {
    padding: 8px;
}

input.input-especiales {
    padding: 15px !important;
    font-family: 'Encode Sans Semi Condensed', sans-serif !important;
}

.button {
    text-align: center;
}

.bootstrap-select > select.bs-select-hidden, select.bs-select-hidden, select.selectpicker {
    display: block;
}

.form-check-label {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-style: normal;
}

.form-check-input.is-valid:focus, .was-validated .form-check-input:valid:focus {
    box-shadow: 0 0 0 .25rem rgba(0,183,74,.25)
}

.form-check-input {
    border: none !important;
}

.form-check-label {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    padding: 0 !important;
    margin: 3px 0;
    color: var(--grisoscuro);
}