@using _6_SGF_Entidades.Catalogos;
@{
    ViewBag.Title = "Movimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ListaCatalogos listaCatalogos = ViewBag.Catalogos != null ? ViewBag.Catalogos : new ListaCatalogos();
}
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Registro de Movimientos</h3>
    </div>
    <form role="form">
        <div class="box-body">
            
        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>